/* ЧТО БЫЛО ДОБАВЛЕНО В ЛР2: */
* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #4b6b8a;
}

.nav {
    background-color: #043464;
    overflow: hidden;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 40px;
    text-decoration: none;
    font-size: 18px;
}

.nav a:hover {
    background-color: #b0b8c7;
    color: #243444;
}

.nav a.active {
    background-color: #0b91ba;
    color: #f2f2f2;
}

.info h2 {
    color: #f2f2f2;
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
}

.text {
    color: #f2f2f2;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 28px;
    line-height: 40px;
}

.info img {
    width: 500;
    height: 300;
}

#text_p_for_img {
    font-size: 24px;
    color: #f2f2f2;
}

.list {
    color: #f2f2f2;
    font-size: 28px;
    line-height: 40px;
    padding-left: 200px;
}

#ref {
    color: #f2f2f2;
    font-size: 20px;
    text-decoration: none
}

.table-methods {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 20px;
    color: #f2f2f2;
}

.th-td-my {
    color: #f2f2f2;
    border: 2px solid;
    border-color:#f2f2f2;
    padding: 10px;
    text-align: left;
}

#center {
    text-align: center;
}

#right {
    text-align: right;
}

/* ЧТО ДОБАВЛЕНО В ЛР4: */

/* ------------------ ДЛЯ СТРАНИЦЫ GRID_FLIGHT_ASSIGNMENT ------------------ */

/* КОНТЕЙНЕР GRID */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-top: 24px;
}

/* КАРТОЧКИ В КОНТЕЙНЕРЕ ГРИДА */
.box-discription {
    border: 1px solid #043464;
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    padding: 10px;
    background-color: #537fab;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
}

/* ДЛЯ ОТПРАВКИ POST-ЗАПРОСА НА СЕРВЕР */

/* ОПИСАНИЕ ИНСТРУКЦИЙ ПЕРЕД ФОРМОЙ */
.instruction {
    line-height: 16px;
    margin-left: 40px;
    font-size: 20px;
}

.instruction h2 {
    font-size: 28px;
}

.label-post {
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
}

/* ОФОРМЛЕНИЕ ФОРМЫ С ПОМОЩЬЮ ГРИД */
#flightAssignmentForm {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    align-items: center;
    justify-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* НАЗВАНИЯ ПЕРЕД ИНПУТАМИ */
label {
    text-align: center;
    display: block;
    margin: 12px;
    font-size: 28px;
    font-weight: 600;
}

/* ЧТОБ СПИННЕРОВ НЕ БЫЛО!!! */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* КРАСИВЫЙ ИНПУТ */
input {
    padding: 8px;
    width: 100%;
    max-width: 360px;
    border: 3px solid #043464;
    background-color: #537fab;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    
}

input::placeholder {
    color: #043464;
}

/* ОФОРМЛЕНИЕ КНОПОЧКИ */
.button-flightAssignment, .button-discription {
    margin-top: 20px;
    padding: 24px;
    background-color: #537fab;
    font-size: 30px;
    border: 2px solid #043464;
    border-radius: 20px;
    cursor: pointer;
}

/* ОФОРМЛЕНИЕ ВЫЛЕЗАЮЩЕЙ ОШИБКИ */
.error, #error-msg {
    color: #cf000f;
    font-size: 24px;
}

/* ------------------ ДЛЯ СТРАНИЦЫ flexbox_uavs ------------------ */

/* СНАЧАЛА FLEXBOX ПОТРОГАЮ */

/* КОНТЕЙНЕР ФЛЕКС */
.container-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ОФОРМЛЕНИЕ КАРТОЧКИ В КОНТЕЙНЕРЕ ФЛЕКСА */
.box-picture {
    width: calc(33% - 20px); /* вычитала, чтоб ширина каждого блока была с учетом отступов */
    margin: 10px;
    background-color: #537fab;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
    text-align: center;
}

/* ПОДПРАВИТЬ ИЗОБРАЖЕНИЕ В КАРТОЧКАХ */
.box-picture img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 400px;
    object-fit: cover;
}

/* ТЕКСТ ПОД ИЗОБРАЖЕНИЯМИ В КАРТОЧКЕ */
#text_for_img {
    margin: 10px 0;
    font-size: 24px;
    color: black;
}

/* ФОРМА ДЛЯ ЗАПИСИ НАЗВАНИЯ БПЛА + ТАБЛИЦА С ВЫДАННОЙ ИНФОЙ */

/* КОНТЕЙНЕР С ТАБЛИЦЕЙ ТОЖЕ ЧЕРЕЗ ФЛЕКС */
.container-form-with-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ФОРМА ТОЖЕ ЧЕРЕЗ ФЛЕКС */
#uav-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* САМА ТАБЛИЦЫ */
#uav-table {
    margin-top: 40px;
    font-size: 24px;
    width: 60%;
    border-collapse: collapse;
}

/* ДОЧЕРНИЕ ЭЛЕМЕНТЫ ЭТОЙ ТАБЛИЦЫ */
#uav-table th, td {
    border: 3px solid #043464; /* Граница ячеек таблицы */
    padding: 10px; /* Отступы внутри ячеек */
    text-align: left; /* Выравнивание текста в ячейках */
    color: black;
}

/* ОТРЕДАКТИРОВАЛА ВТОРОЙ СТОЛБЕЦ ТАБЛИЦЫ ОТДЕЛЬНО */
#th1 {
    width: 400px;
}

/* ОПИСАНИЕ ПЕРЕД ФОРМОЙ */
.h2-info {
    text-align: center;
    font-size: 40px;
}

.p-info {
    text-align: center;
    font-size: 24px;
}

/* НАКОНЕЦ АНИМАЦИЯ БПЛА, ЧТОБЫ ДВИГАЛСЯ ТУДА-СЮДА */

/* ГЛАВНЫЙ КОНТЕЙНЕР В КОТОРОМ АНИМАЦИЯ И БЭК-КАРТИНКА */
.container-animation {
    margin-top: 20px;
    height: 220px;
    border: 3px solid #043464;
    background-image: url('../pictures/field.jpg');
}

/* ОБЪЕКТ КОТОРЫЙ БУДЕТ АНИМИРОВАН */
.drone {
    margin-top: 100px;
    width: 200px;
    height: 100px;
    top: 50%;
    transform: translateY(-50%);
    background-size: cover;
    animation: fly 10s linear infinite; /* по сути самое главное - бесконечная анимация */
}

/* СОЗДАНИЕ АНИМАЦИИ ЧЕРЕЗ СОСТОЯНИЯ (ПРОЦЕНТИКИ) */
/* С ПОМОЩЬЮ ОБЪЕКТ БУДЕТ ИЗМЕНЯТЬ СВОЕ ИЗОБРАЖЕНИЕ И ПЕРЕМЕЩАТЬСЯ ПО УКАЗАННЫМ КООРДИНАТАМ */
@keyframes fly {
    0%, 100% {
        transform: translateX(200px) translateY(20%);
        background-image: url('../pictures/drone2.png');
    }
    25% {
        transform: translateX(1400px) translateY(-100%);
        background-image: url('../pictures/drone3.png');
    }
    50% {
        transform: translateX(1400px) translateY(20%);
        background-image: url('../pictures/drone4.png');
    }
    75% {
        transform: translateX(200px) translateY(-100%);
        background-image: url('../pictures/drone5.png');
    }
}